$white: #ffffff;
$dark-blue: #262B3D;
$light-blue: #455eb7;
$light-grey: #f3f3f3;
$border-grey:#dddddd;

$warm-white: #f6f1ee;
$brown: #725239;
$gold: #c89e01;


$red: #6f0b0a;
$red-hover: #d51f1e;
$dark-green: #29741d;